<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT Club ANY>
<!ATTLIST Club id ID #REQUIRED>
<!ELEMENT team ANY>
<!ATTLIST team id ID #REQUIRED>
<!ELEMENT sponsor ANY>
<!ATTLIST sponsor id ID #REQUIRED>
<!ELEMENT player ANY>
<!ATTLIST player id ID #REQUIRED>
<!ELEMENT match ANY>
<!ATTLIST match id ID #REQUIRED>
<!ELEMENT vote ANY>
<!ATTLIST vote id ID #REQUIRED>
<!ELEMENT root ANY>
<!ATTLIST root id ID #REQUIRED>
<!ELEMENT teams ANY>
<!ATTLIST teams id ID #REQUIRED>
<!ELEMENT sponsors ANY>
<!ATTLIST sponsors id ID #REQUIRED>
<!ELEMENT players ANY>
<!ATTLIST players id ID #REQUIRED>
<!ELEMENT roles ANY>
<!ATTLIST roles id ID #REQUIRED>
<!ELEMENT matches ANY>
<!ATTLIST matches id ID #REQUIRED>
<!ELEMENT role ANY>
<!ATTLIST role id ID #REQUIRED>
]>
<root id="-1">
  <root id="1083" key="3d72f3e4-5029-4e48-8711-64339cf622e5" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-04-13T10:33:00" updateDate="2018-05-03T10:19:32" nodeName="Root" urlName="root" path="-1,1083" isDoc="" nodeType="1082" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="root" isPublished="true">
    <Club id="1084" key="28b07027-1dc3-487f-9ee4-a080e7a4846f" parentID="1083" level="2" creatorID="0" sortOrder="0" createDate="2018-04-13T10:34:28" updateDate="2018-04-29T20:26:43" nodeName="FCK" urlName="fck" path="-1,1083,1084" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Club" isPublished="true">
      <clubName><![CDATA[FCK]]></clubName>
      <clubAddress><![CDATA[Per Henrik Lings Allé 2]]></clubAddress>
      <clubLogo><![CDATA[umb://media/77b6787734f9473ebd2113d9382806e3]]></clubLogo>
      <clubCity><![CDATA[2100 København Ø]]></clubCity>
      <clubRegion><![CDATA[Sjælland]]></clubRegion>
      <clubSports><![CDATA[Soccer,Tennis]]></clubSports>
      <teams id="1096" key="b9ebd81a-d521-4ec2-a05e-f69ea03ef75c" parentID="1084" level="3" creatorID="0" sortOrder="0" createDate="2018-04-13T10:49:06" updateDate="2018-04-13T10:49:06" nodeName="Teams" urlName="teams" path="-1,1083,1084,1096" isDoc="" nodeType="1095" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="teams" isPublished="true">
        <team id="1097" key="34704ffb-211b-4cef-a374-7dc0a476b18f" parentID="1096" level="4" creatorID="0" sortOrder="0" createDate="2018-04-13T10:49:27" updateDate="2018-04-19T09:48:14" nodeName="5. Holdet" urlName="5-holdet" path="-1,1083,1084,1096,1097" isDoc="" nodeType="1056" creatorName="admin" writerName="Simon" writerID="2" template="0" nodeTypeAlias="team" isPublished="true">
          <teamName><![CDATA[5. Holdet]]></teamName>
          <teamPlayers><![CDATA[umb://document/785f6c85ffc94c5fa2ec9977041ff6e2,umb://document/32f44ee1bcf3424987c2331902a0412a,umb://document/16f4b7ce9ffd44b8ae711cc41f78bf97]]></teamPlayers>
          <TeamSport><![CDATA[Hockey]]></TeamSport>
          <matches id="1106" key="6af62e80-914f-4c59-bdd8-2bb7c43f65ff" parentID="1097" level="5" creatorID="2" sortOrder="0" createDate="2018-04-13T11:00:29" updateDate="2018-04-13T11:00:29" nodeName="Matches" urlName="matches" path="-1,1083,1084,1096,1097,1106" isDoc="" nodeType="1102" creatorName="Simon" writerName="Simon" writerID="2" template="0" nodeTypeAlias="matches" isPublished="true">
            <match id="1111" key="b5d35e95-66d9-4019-b772-9a4d73d4402a" parentID="1106" level="6" creatorID="2" sortOrder="0" createDate="2018-04-13T11:02:26" updateDate="2018-05-03T12:32:50" nodeName="Match 1" urlName="match-1" path="-1,1083,1084,1096,1097,1106,1111" isDoc="" nodeType="1065" creatorName="Simon" writerName="admin" writerID="0" template="0" nodeTypeAlias="match" isPublished="true">
              <matchAddress><![CDATA[Langekilde 1]]></matchAddress>
              <matchStartDateTime>2018-05-24T11:02:01</matchStartDateTime>
              <opponent><![CDATA[Herfølge FC]]></opponent>
              <status><![CDATA[Coming]]></status>
              <matchPlayers><![CDATA[umb://document/785f6c85ffc94c5fa2ec9977041ff6e2,umb://document/32f44ee1bcf3424987c2331902a0412a,umb://document/842f0688e552423f8123616a9c0ba5a2,umb://document/16f4b7ce9ffd44b8ae711cc41f78bf97]]></matchPlayers>
              <vote id="1179" key="72689285-ec85-4a3e-9033-1a11a9e50d55" parentID="1111" level="7" creatorID="0" sortOrder="0" createDate="2018-05-03T16:43:44" updateDate="2018-05-03T16:43:44" nodeName="8f8a38c5-ccdf-47d4-a152-e5f1a33d3c87" urlName="8f8a38c5-ccdf-47d4-a152-e5f1a33d3c87" path="-1,1083,1084,1096,1097,1106,1111,1179" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vote" isPublished="true">
                <deviceId><![CDATA[8f8a38c5-ccdf-47d4-a152-e5f1a33d3c87]]></deviceId>
                <playerId>1105</playerId>
              </vote>
              <vote id="1180" key="5b6783d7-68a1-423a-b30e-63b1bcb5d57a" parentID="1111" level="7" creatorID="0" sortOrder="1" createDate="2018-05-03T16:46:14" updateDate="2018-05-03T16:46:14" nodeName="8f8a42c5-ccdf-47d4-a152-e5f1a33d3c87" urlName="8f8a42c5-ccdf-47d4-a152-e5f1a33d3c87" path="-1,1083,1084,1096,1097,1106,1111,1180" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vote" isPublished="true">
                <deviceId><![CDATA[8f8a42c5-ccdf-47d4-a152-e5f1a33d3c87]]></deviceId>
                <playerId>1105</playerId>
              </vote>
              <vote id="1181" key="0e9efb4d-9b70-4c89-ade7-5fd412a58d46" parentID="1111" level="7" creatorID="0" sortOrder="2" createDate="2018-05-03T17:09:15" updateDate="2018-05-03T17:09:15" nodeName="93758463-ccdf-47d4-a152-e5f1a33d3c87" urlName="93758463-ccdf-47d4-a152-e5f1a33d3c87" path="-1,1083,1084,1096,1097,1106,1111,1181" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vote" isPublished="true">
                <deviceId><![CDATA[93758463-ccdf-47d4-a152-e5f1a33d3c87]]></deviceId>
                <playerId>1105</playerId>
              </vote>
              <vote id="1182" key="d7ef7444-1421-4fd0-a00c-d3c7fa6e9e59" parentID="1111" level="7" creatorID="0" sortOrder="3" createDate="2018-05-03T17:15:12" updateDate="2018-05-03T17:15:12" nodeName="93758463-ccdf-47d4-a152-5gf1a33d3c87" urlName="93758463-ccdf-47d4-a152-5gf1a33d3c87" path="-1,1083,1084,1096,1097,1106,1111,1182" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vote" isPublished="true">
                <deviceId><![CDATA[93758463-ccdf-47d4-a152-5gf1a33d3c87]]></deviceId>
                <playerId>1105</playerId>
              </vote>
            </match>
            <match id="1114" key="210a5d70-045b-4e61-8fb1-b667d7397e7f" parentID="1106" level="6" creatorID="2" sortOrder="1" createDate="2018-04-13T11:04:03" updateDate="2018-05-03T10:13:10" nodeName="Match 2" urlName="match-2" path="-1,1083,1084,1096,1097,1106,1114" isDoc="" nodeType="1065" creatorName="Simon" writerName="admin" writerID="0" template="0" nodeTypeAlias="match" isPublished="true">
              <matchAddress><![CDATA[Langelandsgade 2]]></matchAddress>
              <matchStartDateTime>2018-04-18T11:03:35</matchStartDateTime>
              <opponent><![CDATA[Langeland FC]]></opponent>
              <status><![CDATA[Coming]]></status>
              <matchPlayers><![CDATA[umb://document/842f0688e552423f8123616a9c0ba5a2,umb://document/32f44ee1bcf3424987c2331902a0412a]]></matchPlayers>
            </match>
          </matches>
        </team>
        <team id="1142" key="f0c66570-5669-4066-a385-b3d7fa5da047" parentID="1096" level="4" creatorID="2" sortOrder="1" createDate="2018-04-19T00:20:14" updateDate="2018-04-19T09:48:19" nodeName="1. Holdet" urlName="1-holdet" path="-1,1083,1084,1096,1142" isDoc="" nodeType="1056" creatorName="Simon" writerName="Simon" writerID="2" template="0" nodeTypeAlias="team" isPublished="true">
          <teamName><![CDATA[1. Holdet]]></teamName>
          <teamPlayers><![CDATA[umb://document/32f44ee1bcf3424987c2331902a0412a,umb://document/785f6c85ffc94c5fa2ec9977041ff6e2,umb://document/16f4b7ce9ffd44b8ae711cc41f78bf97]]></teamPlayers>
          <TeamSport><![CDATA[Hockey]]></TeamSport>
          <matches id="1150" key="f55f8f41-60c3-45a5-9e78-8654de059e70" parentID="1142" level="5" creatorID="0" sortOrder="0" createDate="2018-04-23T14:43:28" updateDate="2018-04-23T14:43:28" nodeName="Matches" urlName="matches" path="-1,1083,1084,1096,1142,1150" isDoc="" nodeType="1102" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="matches" isPublished="true">
            <match id="1151" key="6748d4fb-2519-423b-8bd4-88ff613fd321" parentID="1150" level="6" creatorID="0" sortOrder="0" createDate="2018-04-23T14:45:06" updateDate="2018-05-03T10:16:43" nodeName="Match 1" urlName="match-1" path="-1,1083,1084,1096,1142,1150,1151" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="match" isPublished="true">
              <matchAddress><![CDATA[Matchvej 100]]></matchAddress>
              <matchStartDateTime>2018-06-30T14:30:00</matchStartDateTime>
              <opponent><![CDATA[Aalborg FC]]></opponent>
              <status><![CDATA[Coming]]></status>
              <matchCity><![CDATA[5000 Odense]]></matchCity>
              <matchPlayers><![CDATA[umb://document/842f0688e552423f8123616a9c0ba5a2,umb://document/32f44ee1bcf3424987c2331902a0412a]]></matchPlayers>
            </match>
            <match id="1154" key="24285f68-3986-4279-8edd-25e4f0565aad" parentID="1150" level="6" creatorID="2" sortOrder="1" createDate="2018-04-26T13:01:50" updateDate="2018-05-03T10:17:03" nodeName="Odense IhC" urlName="odense-ihc" path="-1,1083,1084,1096,1142,1150,1154" isDoc="" nodeType="1065" creatorName="Simon" writerName="admin" writerID="0" template="0" nodeTypeAlias="match" isPublished="true">
              <matchAddress><![CDATA[Lollandsgade 11]]></matchAddress>
              <matchStartDateTime>2018-04-27T13:01:36</matchStartDateTime>
              <opponent><![CDATA[Odense IHC]]></opponent>
              <status><![CDATA[Coming]]></status>
              <matchCity><![CDATA[Odense]]></matchCity>
              <homeGoal>1</homeGoal>
              <opponentGoal>2</opponentGoal>
              <matchPlayers><![CDATA[umb://document/785f6c85ffc94c5fa2ec9977041ff6e2,umb://document/32f44ee1bcf3424987c2331902a0412a,umb://document/842f0688e552423f8123616a9c0ba5a2]]></matchPlayers>
            </match>
          </matches>
        </team>
        <team id="1169" key="853058c9-1dd2-450b-9ac8-cacb5b9e17c8" parentID="1096" level="4" creatorID="0" sortOrder="2" createDate="2018-05-03T10:33:30" updateDate="2018-05-06T23:41:27" nodeName="6. Holdet" urlName="6-holdet" path="-1,1083,1084,1096,1169" isDoc="" nodeType="1056" creatorName="admin" writerName="Simon" writerID="2" template="0" nodeTypeAlias="team" isPublished="true">
          <teamName><![CDATA[6. Holdet]]></teamName>
          <teamPlayers><![CDATA[umb://document/16f4b7ce9ffd44b8ae711cc41f78bf97,umb://document/842f0688e552423f8123616a9c0ba5a2,umb://document/32f44ee1bcf3424987c2331902a0412a]]></teamPlayers>
          <TeamSport><![CDATA[Fodbold]]></TeamSport>
          <matches id="1193" key="c9b49cc7-0efa-493a-8d18-318275d4b78e" parentID="1169" level="5" creatorID="2" sortOrder="0" createDate="2018-05-06T23:38:49" updateDate="2018-05-06T23:38:49" nodeName="Matches" urlName="matches" path="-1,1083,1084,1096,1169,1193" isDoc="" nodeType="1102" creatorName="Simon" writerName="Simon" writerID="2" template="0" nodeTypeAlias="matches" isPublished="true">
            <match id="1194" key="a76316f4-f95d-4309-8f09-c6787fcbe285" parentID="1193" level="6" creatorID="2" sortOrder="0" createDate="2018-05-06T23:39:56" updateDate="2018-05-06T23:40:11" nodeName="Sunday match" urlName="sunday-match" path="-1,1083,1084,1096,1169,1193,1194" isDoc="" nodeType="1065" creatorName="Simon" writerName="Simon" writerID="2" template="0" nodeTypeAlias="match" isPublished="true">
              <matchAddress><![CDATA[Ishøjvej 23]]></matchAddress>
              <matchStartDateTime>2018-05-31T23:39:20</matchStartDateTime>
              <opponent><![CDATA[Sønderbro]]></opponent>
              <status><![CDATA[Coming]]></status>
              <matchCity><![CDATA[København]]></matchCity>
              <homeGoal>0</homeGoal>
              <opponentGoal>0</opponentGoal>
              <matchPlayers><![CDATA[umb://document/16f4b7ce9ffd44b8ae711cc41f78bf97,umb://document/32f44ee1bcf3424987c2331902a0412a,umb://document/785f6c85ffc94c5fa2ec9977041ff6e2]]></matchPlayers>
              <vote id="1202" key="0e5411dc-5c35-4868-b3e8-57ded69f4418" parentID="1194" level="7" creatorID="0" sortOrder="0" createDate="2018-05-08T01:16:23" updateDate="2018-05-08T01:16:23" nodeName="93858463-ccdf-47d4-a152-e5f1a33d3c87" urlName="93858463-ccdf-47d4-a152-e5f1a33d3c87" path="-1,1083,1084,1096,1169,1193,1194,1202" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vote" isPublished="true">
                <deviceId><![CDATA[93858463-ccdf-47d4-a152-e5f1a33d3c87]]></deviceId>
                <playerId>1105</playerId>
              </vote>
              <vote id="1203" key="67aa634b-be17-4f94-af3e-c739af186052" parentID="1194" level="7" creatorID="0" sortOrder="1" createDate="2018-05-08T01:18:14" updateDate="2018-05-08T01:18:14" nodeName="93858663-ccdf-47d4-a152-e5f1a33d3c87" urlName="93858663-ccdf-47d4-a152-e5f1a33d3c87" path="-1,1083,1084,1096,1169,1193,1194,1203" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vote" isPublished="true">
                <deviceId><![CDATA[93858663-ccdf-47d4-a152-e5f1a33d3c87]]></deviceId>
                <playerId>1105</playerId>
              </vote>
              <vote id="1206" key="ff7d9891-5846-4fb7-86ab-d7c0db19b0f7" parentID="1194" level="7" creatorID="0" sortOrder="3" createDate="2018-05-08T01:36:56" updateDate="2018-05-08T01:36:56" nodeName="93458663-ccdf-47d4-a152-e5f1a3345c87" urlName="93458663-ccdf-47d4-a152-e5f1a3345c87" path="-1,1083,1084,1096,1169,1193,1194,1206" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vote" isPublished="true">
                <deviceId><![CDATA[93458663-ccdf-47d4-a152-e5f1a3345c87]]></deviceId>
                <playerId>1105</playerId>
              </vote>
              <vote id="1207" key="71b3a8d8-33d4-4b2f-9c70-653b7bc129b3" parentID="1194" level="7" creatorID="0" sortOrder="4" createDate="2018-05-08T01:39:30" updateDate="2018-05-08T01:39:30" nodeName="93458663-ccdf-47d4-a152-e5f1a3335c87" urlName="93458663-ccdf-47d4-a152-e5f1a3335c87" path="-1,1083,1084,1096,1169,1193,1194,1207" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vote" isPublished="true">
                <deviceId><![CDATA[93458663-ccdf-47d4-a152-e5f1a3335c87]]></deviceId>
                <playerId>1105</playerId>
              </vote>
            </match>
          </matches>
        </team>
        <team id="1174" key="3fe5c099-f732-4d39-992a-4137648063a9" parentID="1096" level="4" creatorID="2" sortOrder="3" createDate="2018-05-03T11:56:20" updateDate="2018-05-07T11:53:03" nodeName="FCK Oldboys" urlName="fck-oldboys" path="-1,1083,1084,1096,1174" isDoc="" nodeType="1056" creatorName="Simon" writerName="admin" writerID="0" template="0" nodeTypeAlias="team" isPublished="true">
          <teamName><![CDATA[FCK Oldboys]]></teamName>
          <teamPlayers><![CDATA[umb://document/32f44ee1bcf3424987c2331902a0412a,umb://document/16f4b7ce9ffd44b8ae711cc41f78bf97,umb://document/842f0688e552423f8123616a9c0ba5a2]]></teamPlayers>
          <TeamSport><![CDATA[Fodbold]]></TeamSport>
        </team>
      </teams>
      <players id="1101" key="dba17878-a099-4c1f-9a87-5b4dcc05d33a" parentID="1084" level="3" creatorID="0" sortOrder="1" createDate="2018-04-13T10:58:19" updateDate="2018-04-13T10:58:19" nodeName="Players" urlName="players" path="-1,1083,1084,1101" isDoc="" nodeType="1099" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="players" isPublished="true">
        <player id="1103" key="785f6c85-ffc9-4c5f-a2ec-9977041ff6e2" parentID="1101" level="4" creatorID="0" sortOrder="0" createDate="2018-04-13T10:59:20" updateDate="2018-05-05T18:10:58" nodeName="Ole Olsen" urlName="ole-olsen" path="-1,1083,1084,1101,1103" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
          <playerFirstName><![CDATA[Ole]]></playerFirstName>
          <playerLastName><![CDATA[Olsen]]></playerLastName>
          <playerNumber>1</playerNumber>
          <team><![CDATA[umb://document/34704ffb211b4cefa3747dc0a476b18f]]></team>
          <role><![CDATA[umb://document/8340e718599744ff85cdce6deec2c908]]></role>
        </player>
        <player id="1104" key="32f44ee1-bcf3-4249-87c2-331902a0412a" parentID="1101" level="4" creatorID="0" sortOrder="1" createDate="2018-04-13T10:59:39" updateDate="2018-05-05T20:38:12" nodeName="John Jensen" urlName="john-jensen" path="-1,1083,1084,1101,1104" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
          <playerFirstName><![CDATA[John]]></playerFirstName>
          <playerLastName><![CDATA[Jensen]]></playerLastName>
          <playerNumber>2</playerNumber>
          <team><![CDATA[umb://document/34704ffb211b4cefa3747dc0a476b18f]]></team>
          <role><![CDATA[umb://document/09001ef9883840e0a3fd01f2f971ce59]]></role>
          <vote id="1199" key="210e442f-dcf2-4637-9045-650025a307d5" parentID="1104" level="5" creatorID="0" sortOrder="0" createDate="2018-05-08T00:29:31" updateDate="2018-05-08T00:29:31" nodeName="3b0c569b-6010-439e-81da-d81c6c1cd9fc" urlName="3b0c569b-6010-439e-81da-d81c6c1cd9fc" path="-1,1083,1084,1101,1104,1199" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vote" isPublished="true">
            <deviceId><![CDATA[3b0c569b-6010-439e-81da-d81c6c1cd9fc]]></deviceId>
            <playerId>1104</playerId>
          </vote>
          <vote id="1200" key="c9eaf7e4-9261-44f5-a008-042725f66bbd" parentID="1104" level="5" creatorID="0" sortOrder="1" createDate="2018-05-08T00:30:38" updateDate="2018-05-08T00:30:38" nodeName="26c41916-67b1-4996-a6ad-6fb6a2809d97" urlName="26c41916-67b1-4996-a6ad-6fb6a2809d97" path="-1,1083,1084,1101,1104,1200" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vote" isPublished="true">
            <deviceId><![CDATA[26c41916-67b1-4996-a6ad-6fb6a2809d97]]></deviceId>
            <playerId>1104</playerId>
          </vote>
        </player>
        <player id="1105" key="16f4b7ce-9ffd-44b8-ae71-1cc41f78bf97" parentID="1101" level="4" creatorID="0" sortOrder="2" createDate="2018-04-13T11:00:01" updateDate="2018-05-05T18:13:34" nodeName="Signe Svendsen" urlName="signe-svendsen" path="-1,1083,1084,1101,1105" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
          <playerFirstName><![CDATA[Signe]]></playerFirstName>
          <playerLastName><![CDATA[Svendsen]]></playerLastName>
          <playerNumber>33</playerNumber>
          <team><![CDATA[umb://document/34704ffb211b4cefa3747dc0a476b18f]]></team>
          <role><![CDATA[umb://document/f9bb3629cc4e42f2b1b448530fa5e458]]></role>
          <vote id="1195" key="3887e18d-9376-4ea5-9941-d2625aa6fcc5" parentID="1105" level="5" creatorID="0" sortOrder="0" createDate="2018-05-08T00:18:57" updateDate="2018-05-08T00:18:57" nodeName="40cb1abd-afca-461c-8cae-4aeada472bd6" urlName="40cb1abd-afca-461c-8cae-4aeada472bd6" path="-1,1083,1084,1101,1105,1195" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vote" isPublished="true">
            <deviceId><![CDATA[40cb1abd-afca-461c-8cae-4aeada472bd6]]></deviceId>
            <playerId>1105</playerId>
          </vote>
          <vote id="1196" key="e54ee785-24d1-4f19-a3b6-3ca9df1ebc12" parentID="1105" level="5" creatorID="0" sortOrder="1" createDate="2018-05-08T00:18:57" updateDate="2018-05-08T00:18:57" nodeName="40cb1abd-afca-461c-8cae-4aeada472bd6 (1)" urlName="40cb1abd-afca-461c-8cae-4aeada472bd6-1" path="-1,1083,1084,1101,1105,1196" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vote" isPublished="true">
            <deviceId><![CDATA[40cb1abd-afca-461c-8cae-4aeada472bd6]]></deviceId>
            <playerId>1105</playerId>
          </vote>
          <vote id="1197" key="0c854b15-d5bb-427f-b266-697ac5983b02" parentID="1105" level="5" creatorID="0" sortOrder="2" createDate="2018-05-08T00:18:57" updateDate="2018-05-08T00:18:57" nodeName="40cb1abd-afca-461c-8cae-4aeada472bd6 (2)" urlName="40cb1abd-afca-461c-8cae-4aeada472bd6-2" path="-1,1083,1084,1101,1105,1197" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vote" isPublished="true">
            <deviceId><![CDATA[40cb1abd-afca-461c-8cae-4aeada472bd6]]></deviceId>
            <playerId>1105</playerId>
          </vote>
        </player>
        <player id="1119" key="842f0688-e552-423f-8123-616a9c0ba5a2" parentID="1101" level="4" creatorID="0" sortOrder="3" createDate="2018-04-16T07:57:57" updateDate="2018-05-05T20:40:16" nodeName="Peter Jensen" urlName="peter-jensen" path="-1,1083,1084,1101,1119" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
          <playerFirstName><![CDATA[Peter]]></playerFirstName>
          <playerLastName><![CDATA[Jensen]]></playerLastName>
          <playerNumber>5</playerNumber>
          <team><![CDATA[umb://document/34704ffb211b4cefa3747dc0a476b18f]]></team>
          <role><![CDATA[umb://document/09001ef9883840e0a3fd01f2f971ce59]]></role>
          <vote id="1198" key="cb69e2e4-da1f-4208-8943-087c7ffdb80b" parentID="1119" level="5" creatorID="0" sortOrder="0" createDate="2018-05-08T00:25:29" updateDate="2018-05-08T00:25:29" nodeName="75d79171-f936-49cf-8262-82f25b30b7ce" urlName="75d79171-f936-49cf-8262-82f25b30b7ce" path="-1,1083,1084,1101,1119,1198" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="vote" isPublished="true">
            <deviceId><![CDATA[75d79171-f936-49cf-8262-82f25b30b7ce]]></deviceId>
            <playerId>1119</playerId>
          </vote>
        </player>
      </players>
      <sponsors id="1107" key="1f8a9768-fe48-4939-8bb2-444c721f90ba" parentID="1084" level="3" creatorID="0" sortOrder="2" createDate="2018-04-13T11:00:38" updateDate="2018-04-13T11:00:38" nodeName="Sponsors" urlName="sponsors" path="-1,1083,1084,1107" isDoc="" nodeType="1098" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="sponsors" isPublished="true">
        <sponsor id="1148" key="94fa5743-cfe9-4eca-8e2e-c0d277ba72be" parentID="1107" level="4" creatorID="0" sortOrder="0" createDate="2018-04-23T13:20:04" updateDate="2018-04-23T13:20:04" nodeName="Brugsen" urlName="brugsen" path="-1,1083,1084,1107,1148" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="sponsor" isPublished="true">
          <sponsorName><![CDATA[Brugsen]]></sponsorName>
          <sponsorAddress><![CDATA[Hjørringvej 27, 9000 Hjørring]]></sponsorAddress>
        </sponsor>
        <sponsor id="1149" key="becacd83-1df0-4e28-a9b5-e8e7114f189c" parentID="1107" level="4" creatorID="0" sortOrder="1" createDate="2018-04-23T13:20:42" updateDate="2018-05-03T16:36:26" nodeName="Carlsberg" urlName="carlsberg" path="-1,1083,1084,1107,1149" isDoc="" nodeType="1061" creatorName="admin" writerName="Simon" writerID="2" template="0" nodeTypeAlias="sponsor" isPublished="true">
          <sponsorName><![CDATA[Carlsberg]]></sponsorName>
          <sponsorAddress><![CDATA[Carlsbergvej 54, 2500 Valby]]></sponsorAddress>
          <sponsorLogo><![CDATA[umb://media/1e35b43a4b3c454ea9681506b2a910f4]]></sponsorLogo>
        </sponsor>
      </sponsors>
    </Club>
    <Club id="1085" key="760400fa-e672-4704-aede-ed6076ff3317" parentID="1083" level="2" creatorID="0" sortOrder="1" createDate="2018-04-13T10:36:34" updateDate="2018-04-29T19:49:18" nodeName="OB" urlName="ob" path="-1,1083,1085" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Club" isPublished="true">
      <clubName><![CDATA[OB]]></clubName>
      <clubAddress><![CDATA[Søndre Blvd. 172]]></clubAddress>
      <clubLogo><![CDATA[umb://media/9b8f31f2d9b14fe2944dad9e864b5f0e]]></clubLogo>
      <clubCity><![CDATA[5000 Odense]]></clubCity>
      <clubRegion><![CDATA[Fyn]]></clubRegion>
      <clubSports><![CDATA[Soccer,Handball]]></clubSports>
      <teams id="1109" key="c631fe91-da75-42a5-9daf-4ae98fd998c7" parentID="1085" level="3" creatorID="0" sortOrder="0" createDate="2018-04-13T11:02:13" updateDate="2018-04-13T11:02:13" nodeName="Teams" urlName="teams" path="-1,1083,1085,1109" isDoc="" nodeType="1095" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="teams" isPublished="true">
        <team id="1143" key="155038b8-5600-4a0d-a8dd-667e205504b0" parentID="1109" level="4" creatorID="4" sortOrder="0" createDate="2018-04-19T01:01:58" updateDate="2018-04-19T09:48:30" nodeName="3. Holdet" urlName="3-holdet" path="-1,1083,1085,1109,1143" isDoc="" nodeType="1056" creatorName="TestClubAdmin" writerName="Simon" writerID="2" template="0" nodeTypeAlias="team" isPublished="true">
          <teamName><![CDATA[3. Holdet]]></teamName>
          <teamPlayers><![CDATA[umb://document/6df323ba59784ae88316ccbe5a15dcc7]]></teamPlayers>
          <TeamSport><![CDATA[Curling]]></TeamSport>
          <matches id="1152" key="b86caf3e-78c1-400e-9d50-65108bfecc0e" parentID="1143" level="5" creatorID="0" sortOrder="0" createDate="2018-04-26T00:39:47" updateDate="2018-04-26T00:39:47" nodeName="Matches" urlName="matches" path="-1,1083,1085,1109,1143,1152" isDoc="" nodeType="1102" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="matches" isPublished="true">
            <match id="1153" key="abdb5249-9f42-4fdd-b525-2a7fe03daba7" parentID="1152" level="6" creatorID="0" sortOrder="0" createDate="2018-04-26T00:59:53" updateDate="2018-05-03T10:17:28" nodeName="Match 1" urlName="match-1" path="-1,1083,1085,1109,1143,1152,1153" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="match" isPublished="true">
              <matchAddress><![CDATA[Matchvej 15]]></matchAddress>
              <matchStartDateTime>2018-04-28T13:15:00</matchStartDateTime>
              <opponent><![CDATA[Århus curling]]></opponent>
              <status><![CDATA[Coming]]></status>
              <matchCity><![CDATA[7000 Vejle]]></matchCity>
              <matchPlayers><![CDATA[umb://document/6df323ba59784ae88316ccbe5a15dcc7]]></matchPlayers>
            </match>
          </matches>
        </team>
      </teams>
      <players id="1110" key="a9af0f9a-1a2a-49a1-ab84-5a3ad398adda" parentID="1085" level="3" creatorID="0" sortOrder="1" createDate="2018-04-13T11:02:21" updateDate="2018-04-13T11:02:21" nodeName="Players" urlName="players" path="-1,1083,1085,1110" isDoc="" nodeType="1099" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="players" isPublished="true">
        <player id="1144" key="6df323ba-5978-4ae8-8316-ccbe5a15dcc7" parentID="1110" level="4" creatorID="4" sortOrder="0" createDate="2018-04-19T01:02:19" updateDate="2018-05-05T20:42:32" nodeName="Anders" urlName="anders" path="-1,1083,1085,1110,1144" isDoc="" nodeType="1063" creatorName="TestClubAdmin" writerName="admin" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
          <playerFirstName><![CDATA[Anders]]></playerFirstName>
          <playerLastName><![CDATA[Andersen]]></playerLastName>
          <playerNumber>11</playerNumber>
          <team><![CDATA[umb://document/155038b856004a0da8dd667e205504b0]]></team>
          <role><![CDATA[umb://document/09001ef9883840e0a3fd01f2f971ce59]]></role>
        </player>
      </players>
      <sponsors id="1112" key="5b647ad0-a92f-4265-bbf7-11d65e741206" parentID="1085" level="3" creatorID="0" sortOrder="2" createDate="2018-04-13T11:02:30" updateDate="2018-04-13T11:02:30" nodeName="Sponsors" urlName="sponsors" path="-1,1083,1085,1112" isDoc="" nodeType="1098" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="sponsors" isPublished="true" />
    </Club>
    <Club id="1147" key="37267d44-8515-46ef-b818-e90b84d721b7" parentID="1083" level="2" creatorID="0" sortOrder="2" createDate="2018-04-19T14:33:11" updateDate="2018-04-29T20:27:04" nodeName="AAB" urlName="aab" path="-1,1083,1147" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Club" isPublished="true">
      <clubName><![CDATA[AAB]]></clubName>
      <clubAddress><![CDATA[Hornevej 2]]></clubAddress>
      <clubLogo><![CDATA[umb://media/009aa3329ae64a6abb38c049f5d31a7b]]></clubLogo>
      <clubCity><![CDATA[9220 Aalborg Øst]]></clubCity>
      <clubRegion><![CDATA[Jylland]]></clubRegion>
      <clubSports><![CDATA[Soccer,Hockey]]></clubSports>
      <teams id="1162" key="c6b8b43c-beb0-421f-93e5-978c572b1f0d" parentID="1147" level="3" creatorID="2" sortOrder="0" createDate="2018-04-27T23:04:44" updateDate="2018-04-27T23:04:44" nodeName="Teams" urlName="teams" path="-1,1083,1147,1162" isDoc="" nodeType="1095" creatorName="Simon" writerName="Simon" writerID="2" template="0" nodeTypeAlias="teams" isPublished="true">
        <team id="1163" key="f9f8cf5c-f353-4002-8e98-ab9389d671f9" parentID="1162" level="4" creatorID="2" sortOrder="0" createDate="2018-04-27T23:05:28" updateDate="2018-04-27T23:05:28" nodeName="Oldboys" urlName="oldboys" path="-1,1083,1147,1162,1163" isDoc="" nodeType="1056" creatorName="Simon" writerName="Simon" writerID="2" template="0" nodeTypeAlias="team" isPublished="true">
          <teamName><![CDATA[Oldboys]]></teamName>
          <TeamSport><![CDATA[Fodbold]]></TeamSport>
          <matches id="1164" key="76e4e213-86a1-48df-90c8-d3015fd42c86" parentID="1163" level="5" creatorID="2" sortOrder="0" createDate="2018-04-27T23:05:44" updateDate="2018-04-27T23:05:44" nodeName="Matches" urlName="matches" path="-1,1083,1147,1162,1163,1164" isDoc="" nodeType="1102" creatorName="Simon" writerName="Simon" writerID="2" template="0" nodeTypeAlias="matches" isPublished="true">
            <match id="1165" key="c75ec31d-7d18-4091-99bd-e5bf757a5a3c" parentID="1164" level="6" creatorID="2" sortOrder="0" createDate="2018-04-27T23:08:22" updateDate="2018-05-05T21:00:46" nodeName="Odense Boys" urlName="odense-boys" path="-1,1083,1147,1162,1163,1164,1165" isDoc="" nodeType="1065" creatorName="Simon" writerName="admin" writerID="0" template="0" nodeTypeAlias="match" isPublished="true">
              <matchAddress><![CDATA[Bakkekammen 22]]></matchAddress>
              <matchStartDateTime>2018-04-28T23:06:56</matchStartDateTime>
              <opponent><![CDATA[Odense Boys]]></opponent>
              <status><![CDATA[Current]]></status>
              <matchCity><![CDATA[Tommerup]]></matchCity>
              <homeGoal>0</homeGoal>
              <opponentGoal>2</opponentGoal>
              <matchPlayers><![CDATA[umb://document/4e332e1b769643c1a58d7e7154389010]]></matchPlayers>
            </match>
            <match id="1166" key="62593d80-5b36-4860-98c8-b24ea681b763" parentID="1164" level="6" creatorID="2" sortOrder="1" createDate="2018-04-28T00:53:57" updateDate="2018-05-05T21:01:01" nodeName="Aalborg Bulldogs" urlName="aalborg-bulldogs" path="-1,1083,1147,1162,1163,1164,1166" isDoc="" nodeType="1065" creatorName="Simon" writerName="admin" writerID="0" template="0" nodeTypeAlias="match" isPublished="true">
              <matchAddress><![CDATA[Alleenberg 22]]></matchAddress>
              <matchStartDateTime>2018-04-29T00:53:35</matchStartDateTime>
              <opponent><![CDATA[Aalborg BD]]></opponent>
              <status><![CDATA[Coming]]></status>
              <matchCity><![CDATA[Aalborg]]></matchCity>
              <homeGoal>0</homeGoal>
              <opponentGoal>0</opponentGoal>
              <matchPlayers><![CDATA[umb://document/4e332e1b769643c1a58d7e7154389010]]></matchPlayers>
            </match>
          </matches>
        </team>
      </teams>
      <players id="1190" key="eabf7655-a411-4a60-8f47-1c3325306a97" parentID="1147" level="3" creatorID="0" sortOrder="1" createDate="2018-05-05T20:57:50" updateDate="2018-05-05T20:57:50" nodeName="Players" urlName="players" path="-1,1083,1147,1190" isDoc="" nodeType="1099" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="players" isPublished="true">
        <player id="1191" key="4e332e1b-7696-43c1-a58d-7e7154389010" parentID="1190" level="4" creatorID="0" sortOrder="0" createDate="2018-05-05T20:59:41" updateDate="2018-05-05T20:59:41" nodeName="John Jensen" urlName="john-jensen" path="-1,1083,1147,1190,1191" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
          <playerFirstName><![CDATA[John]]></playerFirstName>
          <playerLastName><![CDATA[Jensen]]></playerLastName>
          <playerNumber>12</playerNumber>
          <team><![CDATA[umb://document/f9f8cf5cf35340028e98ab9389d671f9]]></team>
          <role><![CDATA[umb://document/09001ef9883840e0a3fd01f2f971ce59]]></role>
        </player>
      </players>
    </Club>
    <roles id="1186" key="92ae7f91-5ca6-4ddc-a22d-837c066c190f" parentID="1083" level="2" creatorID="0" sortOrder="3" createDate="2018-05-05T18:06:41" updateDate="2018-05-05T18:06:41" nodeName="Roles" urlName="roles" path="-1,1083,1186" isDoc="" nodeType="1100" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="roles" isPublished="true">
      <role id="1187" key="8340e718-5997-44ff-85cd-ce6deec2c908" parentID="1186" level="3" creatorID="0" sortOrder="0" createDate="2018-05-05T18:06:57" updateDate="2018-05-05T18:06:57" nodeName="Målmand" urlName="maalmand" path="-1,1083,1186,1187" isDoc="" nodeType="1184" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="role" isPublished="true">
        <roleType><![CDATA[Målmand]]></roleType>
      </role>
      <role id="1188" key="09001ef9-8838-40e0-a3fd-01f2f971ce59" parentID="1186" level="3" creatorID="0" sortOrder="1" createDate="2018-05-05T18:10:23" updateDate="2018-05-05T18:10:23" nodeName="Forsvarer" urlName="forsvarer" path="-1,1083,1186,1188" isDoc="" nodeType="1184" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="role" isPublished="true">
        <roleType><![CDATA[Forsvarer]]></roleType>
      </role>
      <role id="1189" key="f9bb3629-cc4e-42f2-b1b4-48530fa5e458" parentID="1186" level="3" creatorID="0" sortOrder="2" createDate="2018-05-05T18:10:38" updateDate="2018-05-05T18:10:38" nodeName="Angriber" urlName="angriber" path="-1,1083,1186,1189" isDoc="" nodeType="1184" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="role" isPublished="true">
        <roleType><![CDATA[Angriber]]></roleType>
      </role>
    </roles>
  </root>
</root>