<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT player ANY>
<!ATTLIST player id ID #REQUIRED>
<!ELEMENT team ANY>
<!ATTLIST team id ID #REQUIRED>
<!ELEMENT sponsor ANY>
<!ATTLIST sponsor id ID #REQUIRED>
<!ELEMENT memberRoles ANY>
<!ATTLIST memberRoles id ID #REQUIRED>
<!ELEMENT Club ANY>
<!ATTLIST Club id ID #REQUIRED>
]>
<root id="-1">
  <Club id="1068" key="34f95128-4f85-4c46-9abc-babd3da34ec7" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-04-05T10:36:45" updateDate="2018-04-05T10:36:45" nodeName="OB" urlName="ob" path="-1,1068" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Club" isPublished="true">
    <clubName><![CDATA[OB]]></clubName>
    <clubAddress><![CDATA[Obvej 22, 5000 Odense C]]></clubAddress>
    <memberRoles id="1069" key="29207ef7-ff70-48d6-a3be-2f8be76b309c" parentID="1068" level="2" creatorID="0" sortOrder="0" createDate="2018-04-05T10:37:22" updateDate="2018-04-05T10:37:22" nodeName="OB roles" urlName="ob-roles" path="-1,1068,1069" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="memberRoles" isPublished="true" />
    <sponsor id="1070" key="61eae9be-6505-4bbc-8cc4-ca5abc1a49cb" parentID="1068" level="2" creatorID="0" sortOrder="1" createDate="2018-04-05T10:39:16" updateDate="2018-04-05T10:39:16" nodeName="Sponsor 1" urlName="sponsor-1" path="-1,1068,1070" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="sponsor" isPublished="true">
      <sponsorName><![CDATA[Coop]]></sponsorName>
      <sponsorAddress><![CDATA[Coopvej 23, 7100 Vejle]]></sponsorAddress>
    </sponsor>
    <team id="1071" key="07efc3fc-7a4a-4729-9e22-f77cfcf8e467" parentID="1068" level="2" creatorID="0" sortOrder="2" createDate="2018-04-05T10:40:00" updateDate="2018-04-05T10:40:00" nodeName="Oldboys 1" urlName="oldboys-1" path="-1,1068,1071" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="team" isPublished="true">
      <teamName><![CDATA[Oldboys 1]]></teamName>
      <player id="1072" key="589e0194-e7df-4a4f-af4b-4e201af801b8" parentID="1071" level="3" creatorID="0" sortOrder="0" createDate="2018-04-05T10:40:39" updateDate="2018-04-05T10:40:39" nodeName="Ole Olsen" urlName="ole-olsen" path="-1,1068,1071,1072" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
        <playerFirstName><![CDATA[Ole]]></playerFirstName>
        <playerLastName><![CDATA[Olsen]]></playerLastName>
        <playerNumber>1</playerNumber>
      </player>
      <player id="1073" key="4765e855-4c65-4006-a3ce-1fdcf5e0fdfc" parentID="1071" level="3" creatorID="0" sortOrder="1" createDate="2018-04-05T10:41:13" updateDate="2018-04-05T10:41:13" nodeName="John Jensen" urlName="john-jensen" path="-1,1068,1071,1073" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
        <playerFirstName><![CDATA[John]]></playerFirstName>
        <playerLastName><![CDATA[Jensen]]></playerLastName>
        <playerNumber>2</playerNumber>
      </player>
    </team>
    <team id="1077" key="4f0cd4d1-a317-485d-9573-5d54afdbc0ee" parentID="1068" level="2" creatorID="0" sortOrder="3" createDate="2018-04-05T22:56:46" updateDate="2018-04-05T22:56:46" nodeName="1. Holdet" urlName="1-holdet" path="-1,1068,1077" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="team" isPublished="true">
      <teamName><![CDATA[1. holdet]]></teamName>
    </team>
  </Club>
  <Club id="1074" key="522d6412-1cd2-4b62-9a66-189c67342e5e" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-04-05T12:35:41" updateDate="2018-04-05T12:35:41" nodeName="Odense bulldogs" urlName="odense-bulldogs" path="-1,1074" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Club" isPublished="true">
    <clubName><![CDATA[Odense bulldogs]]></clubName>
    <clubAddress><![CDATA[Bulldog alle 25, 5000, Odense C]]></clubAddress>
  </Club>
</root>